{% extends "base.html" %}

{% block content %}
<h1>Товары:</h1>
{% if not current_user.is_authenticated %}
    <a href="register" class="btn btn-secondary">Зарегестрироваться</a>
    <a href="login" class="btn btn-secondary">Войти</a>
{% else %}
    <a href="self_lab/{{ current_user.id }}" class="btn btn-secondary">Личный Кабинет</a>
{% endif %}
{% if b %}
    <a href="active_basket/{{ current_user.id }}" class="btn btn-secondary">Корзина</a>
{% endif %}
<div>
    <table>
        <tr>
            <td valign="top">
  <div class="col-md6 border rounded">
      <h4>Категории:</h4>
      <form action="" method="post">
          {{ form.hidden_tag() }}
          <p>{{ form.brushes() }} {{ form.brushes.label }}</p>
          <p>{{ form.palettes() }} {{ form.palettes.label }}</p>
          <p>{{ form.erasers() }} {{ form.erasers.label }}</p>
          <p>{{ form.sharpeners() }} {{ form.sharpeners.label }}</p>
          <p>{{ form.albums() }} {{ form.albums.label }}</p>
          <p>{{ form.paperboard() }} {{ form.paperboard.label }}</p>
          <p>{{ form.canvases() }} {{ form.canvases.label }}</p>
          <p>{{ form.pencils() }} {{ form.pencils.label }}</p>
          <p>{{ form.markers() }} {{ form.markers.label }}</p>
          <p>{{ form.chalk() }} {{ form.chalk.label }}</p>
          <p>{{ form.felt_pen() }} {{ form.felt_pen.label }}</p>
          <p>{{ form.paints() }} {{ form.paints.label }}</p>
          <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
      </form>
  </div>
                </td>
            <td>
                <div class="col-md6 border rounded">
  {% for item in items%}
  <div class="col-md6 border rounded">
      <h2>{{item.name}}</h2>
      <div>
          {{item.description}}
      </div>
      <img src='static/img/{{item.id}}.png' alt="здесь должна была быть картинка, но не нашлась">
      <h2>Цена: {{item.price}}</h2>
      {% if item.number == 0 %}
        <h3>Нет в наличии</h3>
      {% else %}
        <h3>Количество на складе: {{item.number}}</h3>
        {% if current_user.is_authenticated %}
            <a href="add_item/{{ item.id }}" class="btn btn-secondary">Добавить в корзину</a>
        {% endif %}
      {% endif %}
  </div>
                    {% endfor %}
                    </div>
            </td>
        </tr>
        </table>
</div>
{% endblock %}
